* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --side-small: 26;
    --side-big: 36;
    --transition: .75s cubic-bezier(.075, .5, 0, 1)
}

body {
    scrollbar-width: none;
}
body::-webkit-scrollbar { 
    display: none;
}

@font-face {
    font-family: raleway_c;
    src: url(../fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}
@font-face {
    font-family: raleway_c;
    src: url(../fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
}
body {
    background-color: #000;
    color: #fff;
    font-size: calc(var(--index) * .8);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;
    overflow-x: hidden;
}
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;
}
.gallery {
    transform-style: preserve-3d;
    height: 100%;
}
.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition), opacity .75s ease;
    will-change: transform;
    transform-style: preserve-3d;
}
h1, h2, h3, h4 {
    font-weight: 100;
    text-transform: uppercase;
    width: min-content;
    line-height: 1;
}
.frame h2 {
    text-align: center;
    font-size: calc(var(--index) * 3.3);
}
.frame-media {
    position: relative;
    width: calc(var(--index) * var(--side-small));
    height: calc(var(--index) * var(--side-big));
    background-position: center;
    background-size: cover;
}
.frame-media_left {
    right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media_right {
    left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg {
    background-color: rgb(0 0 0 / .87);
}
video.frame-media {
    width: calc(var(--index) * var(--side-big));
    height: calc(var(--index) * var(--side-small));
}
video.frame-media_right {
    left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
video.frame-media_left {
    right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}
.text-right > * {
    position: relative;
    left: 18vw;
}
.text-left > * {
    position: relative;
    right: 18vw;
}
.frame h3 {
    font-size: calc(var(--index) * 3);
}
.frame p {
    max-width: 30vw;
    margin-top: 3vh;
}
.soundbutton {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    cursor: pointer;
    width: 24px;
    transition: .25s ease;
    z-index: 9999;
}
.soundbutton.paused {
    opacity: .25;
}
.rectangle {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .frame__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        justify-content: center; 
    }

    .frame__content.text-left,
    .frame__content.text-right {
        justify-content: flex-end;
        padding-bottom: 15vh;
    }

    .text-right > *,
    .text-left > *,
    .frame-media_left, 
    .frame-media_right,
    video.frame-media_left, 
    video.frame-media_right {
        position: static !important;
        left: auto !important;
        right: auto !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    .frame p, .frame h3 {
        max-width: 90vw !important;
        width: auto !important;
        font-size: 20px !important;
        line-height: 1.4;
        background: none !important;
        text-shadow: 
            2px 2px 0 #000,
           -1px -1px 0 #000,  
            1px -1px 0 #000,
           -1px  1px 0 #000,
            1px  1px 0 #000;
        z-index: 1000;
    }
    
    .frame h2 {
         font-size: calc(var(--index) * 2.5);
    }

    .frame-media,
    video.frame-media {
        max-width: 90vw;
        max-height: 55vh;
        box-shadow: 0 5px 20px rgba(0,0,0,0.6);
        z-index: 900;
        margin-bottom: 5vh !important; 
    }
}